/*--------------- basic styling --------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.loader h2 {
  font-size: 14vw;
  position: relative;
  color: #000;
  -webkit-text-stroke: 0.3vw #ccc;
  text-transform: uppercase;
}

.loader h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #fff;
  overflow: hidden;
  -webkit-animation: animate 6s linear infinite;
  animation: animate 6s linear infinite;
}

@-webkit-keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

/*--------------- typewriter effect --------------- */

.hero .header {
  margin-top: 0;
}

.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@media (max-width: 768px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 17em;
    }
  }
}

@keyframes blinkTextCussor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*--------------- navigation --------------- */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
  margin-top: 12rem;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 18px;
  }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0), rotate(45deg);
  transform: translate(-50%, 0), rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/*--------------- process section --------------- */

#process {
  padding: 2rem 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-top: 3rem;
}

#process h3 {
  font-size: 18px;
}

#process p {
  margin-bottom: 0.8rem 0;
  font-size: 14px;
}

#process .whitespace {
  width: 1px;
  height: 100px;
  background-color: #fff;
  margin: 3rem 0 6rem 0;
}

#process .process-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  grid-gap: 35px;
}

#process .process-boxes .process-box {
  padding: 1.3rem 2rem;
  border: 2px solid #fff;
  transition: all 0.5s linear;
}

#process .process-boxes .process-box:hover {
  transform: translateY(-20px);
}

#process .process-boxes .process-box h4 {
  font-size: 25px;
  margin: 2rem 0;
}

#process .process-boxes .process-box p {
  color: #999;
}

#process .process-boxes .process-box .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#process .process-boxes .process-box .steps h2 {
  font-size: 28px;
  color: #ccc;
  opacity: 0.2;
}

#process .process-boxes .process-box .steps i {
  font-size: 30px;
  color: #ccc;
  opacity: 0.2;
}

@media (min-width: 769px) and (max-width: 992px) {
  #process {
    padding: 2rem 1.8rem;
    margin-top: 2rem;
  }

  #process h3 {
    font-size: 18px;
  }

  #process p {
    margin-bottom: 0.8rem 0;
    font-size: 15px;
  }

  #process .whitespace {
    width: 1px;
    height: 100px;
    background-color: #fff;
    margin: 3rem 0 6rem 0;
  }

  #process .process-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  #process .process-boxes .process-box {
    padding: 1rem 1.2rem;
    border: 2px solid #fff;
    transition: all 0.5s linear;
  }

  #process .process-boxes .process-box:hover {
    transform: translateY(-14px);
  }

  #process .process-boxes .process-box h4 {
    font-size: 20px;
    margin: 1.2rem 0;
  }

  #process .process-boxes .process-box p {
    font-size: 15px;
  }

  #process .process-boxes .process-box .steps h2 {
    font-size: 24px;
  }

  #process .process-boxes .process-box .steps i {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  #process {
    padding: 2rem 1rem;
    margin-top: 1.3rem;
  }

  #process h3 {
    font-size: 16px;
    margin-bottom: 2.5rem;
  }

  #process p {
    margin-bottom: 2rem;
    font-size: 14px;
  }

  #process .whitespace {
    display: none;
  }

  #process .process-boxes {
    grid-template-columns: 1fr;
  }

  #process .process-boxes .process-box {
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    margin-bottom: 0.5rem;
  }

  #process .process-boxes .process-box:hover {
    transform: translateY(-8px);
  }

  #process .process-boxes .process-box h4 {
    font-size: 18px;
    margin: 1rem 0;
  }

  #process .process-boxes .process-box p {
    font-size: 14px;
  }

  #process .process-boxes .process-box .steps h2 {
    font-size: 22px;
  }

  #process .process-boxes .process-box .steps i {
    font-size: 20px;
  }
}
/*--------------- projects section --------------- */
h6 {
  text-align: center;
  font-size: 18px;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.project1 {
  background: url(./img/glow1.jpg) no-repeat 50% 50%;
  background-size: cover;
  filter: grayscale(100%);
}

.project1::after {
  content: "Glow.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 8%;
  left: -25%;
  right: 0;
  bottom: 0;
}

.project2 {
  background: url(./img/belle.jpg) no-repeat center;
  background-size: cover;
  filter: grayscale(100%);
}

.project2::after {
  content: "Bellefidence.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url(./img/gra2.jpg) no-repeat center;
  background-size: cover;
  filter: grayscale(100%);
}

.project3::after {
  content: "Gra.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -12%;
  right: 0;
  bottom: 0;
}

.project4 {
  background: url(./img/bow1.jpg) no-repeat 50% 50%;
  background-size: cover;
  filter: grayscale(100%);
}

.project4::after {
  content: "T MANNISH.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }

  .vertical {
    display: none;
  }
}

@media (max-width: 992px) {
  .project1::after,
  .project2::after,
  .project3::after,
  .project4::after {
    display: none;
  }
}

/*--------------- services section --------------- */

#services {
  padding: 2rem 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-top: 3rem;
}

#services h3 {
  font-size: 18px;
}

#services .whitespace {
  width: 1px;
  height: 100px;
  background-color: #fff;
  margin: 3rem 0 6rem 0;
}

#services .services-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  grid-gap: 40px;
}

#services .services-boxes .service-box {
  border: 2px solid #fff;
  padding: 1.3rem 2.2rem;
  cursor: pointer;
  transition: all 0.6s linear;
}

#services .services-boxes .service-box:hover {
  transform: translateY(-20px);
}

#services .services-boxes .service-box h4 {
  font-size: 25px;
  margin: 1.4rem 0;
}

#services .services-boxes .service-box p {
  color: #999;
}

#services .services-boxes .service-box i {
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke: 0.1vw #00ff00;
}

@media (min-width: 769px) and (max-width: 992px) {
  #services {
    padding: 2rem;
    margin-top: 2.5rem;
  }

  #services h3 {
    font-size: 18px;
    margin-bottom: 0.8rem;
  }

  #services .whitespace {
    width: 1px;
    height: 100px;
    background-color: #fff;
    margin: 2rem 0 4rem 0;
  }

  #services .services-boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  #services .services-boxes .service-box {
    padding: 1rem 1.2rem;
  }

  #services .services-boxes .service-box:hover {
    transform: translateY(-12px);
  }

  #services .services-boxes .service-box1 h4 {
    font-size: 20px;
    margin: 1rem 0;
  }

  #services .services-boxes .service-box1 p {
    font-size: 15px;
  }

  #services .services-boxes .service-box i {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  #services {
    padding: 2rem 1rem;
    margin-top: 1.5rem;
  }

  #services h3 {
    font-size: 18px;
    margin-bottom: 2.5rem;
  }

  #services .whitespace {
    display: none;
  }

  #services .services-boxes {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  #services .services-boxes .service-box {
    border: 1px solid #fff;
    padding: 0.8rem 1.2rem;
  }

  #services .services-boxes .service-box:hover {
    transform: translateY(-8px);
  }

  #services .services-boxes .service-box h4 {
    font-size: 16px;
    margin: 1rem 0;
  }

  #services .services-boxes .service-box p {
    font-size: 14px;
  }

  #services .services-boxes .service-box i {
    font-size: 25px;
  }
}
/*------------- clients starts here ----------------*/

#clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  margin: 3rem 0;
  padding: 3rem 6rem;
}

#clients h3 {
  font-size: 18px;
}

#clients p {
  font-size: 16px;
}

#clients .whitespace {
  width: 1px;
  height: 100px;
  background-color: #fff;
  margin: 3rem 0 6rem 0;
}

#clients .clients-boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  grid-gap: 30px;
}

#clients .clients-boxes .client-box img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: filter 0.5s linear;
}

#clients .clients-boxes .client-box img:hover {
  filter: grayscale(0%);
}

@media (min-width: 769px) and (max-width: 992px) {
  #clients {
    padding: 2.6rem 3.5rem;
  }

  #clients h3 {
    font-size: 17px;
  }

  #clients p {
    font-size: 15px;
  }

  #clients .whitespace {
    width: 1px;
    height: 100px;
    background-color: #fff;
    margin: 3rem 0 6rem 0;
  }

  #clients .clients-boxes {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
  }
}

@media screen and (max-width: 768px) {
  #clients {
    margin: 2rem 0;
    padding: 2rem;
  }

  #clients h3 {
    font-size: 16px;
  }

  #clients p {
    font-size: 14px;
    margin-bottom: 2.2rem;
  }

  #clients .whitespace {
    display: none;
  }

  #clients .clients-boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

/*--------------- footer section --------------- */
.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 15px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}

#ig::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}

#tw::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
}

#yt::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b;
}

#media,
#address {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

/*--------------- work page --------------- */

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h4 {
  margin: 3rem 0;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

/*---------------about page --------------- */

.about {
  height: 500px;
  margin-top: 120px;
}

.image {
  background: url(./img/glow2.jpg) no-repeat center;
  background-size: cover;
}

.about-image {
  background: url(./christina-wocintechchat-com-UcZcsHSp8o4-unsplash.jpg)
    no-repeat center;
  filter: grayscale(100%);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .about-image {
    height: 50vh;
  }
}

.image1 {
  background: url(./img/glow1.jpg) no-repeat center;
  background-size: cover;
}

.image2 {
  background: url(./img/glow3.jpg) no-repeat center;
  background-size: cover;
}

/*--------------- contact form --------------- */

#contact-form {
  margin: 5% 1.4%;
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

#contact-form li {
  padding: 10px;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 0.8em;
  color: #999;
  padding-left: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  color: #dfdfdf;
  background-image: linear-gradient(
    to right,
    #0f0f0f 50%,
    #00ff00 50%,
    #00b600 100%
  );
  background-size: 200%;
  background-position: 0% 50%;
  transition: 0.8s;
  font-size: 14px;
  letter-spacing: 2px;
}

.send:hover {
  color: #fff;
  background-position: 100% 50%;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}
